@import '../../styles/variables.scss';

.currentWeatherCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 10px;
  box-shadow: $default-box-shadow;
  padding: 1rem 2.5rem;
  background-color: #fff;

  .header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .weatherInformation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .item {
    display: flex;
    gap: 0.5rem;
  }
}