.dailyWeatherRow {
  display: grid;
  grid-template-columns: 1fr 45% 2rem;
  grid-template-areas: "location days actions";
  column-gap: 0.5rem;
  border-bottom: 1px solid #c3d0d8;
  padding: 0.5rem 1rem;

  .item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  .locationName {
    grid-area: location;
  }

  .dayContainer {
    grid-area: days;

    .day {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }

  .deleteButton {
    grid-area: delete;
  }
}