@import "../../styles/variables.scss";

.weatherTableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .hourlyWeatherTable {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #fff;
    box-shadow: $default-box-shadow;
    border-radius: 6px;
    width: 100%;


    .header {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "time weather temp wind rain";
      column-gap: 1rem;
      border-bottom: $default-border;
      padding: 0.5rem 1rem;

      .weatherHeader {
        font-weight: 500;
        font-size: 0.9rem;
        color: #666;
        grid-area: weather;
      }

      .tempHeader {
        font-weight: 500;
        font-size: 0.9rem;
        color: #666;
        grid-area: temp;
      }

      .windHeader {
        font-weight: 500;
        font-size: 0.9rem;
        color: #666;
        grid-area: wind;
      }

      .rainHeader {
        font-weight: 500;
        font-size: 0.9rem;
        color: #666;
        grid-area: rain;
      }
    }

    .weatherRow {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "time weather temp wind rain";
      column-gap: 1rem;
      padding: 0 1rem;
      border-bottom: $default-border;

      .time {
        grid-area: time;
        font-size: 0.9rem;
        color: #666;
        padding: 0.5rem 0;
      }

      .weather {
        grid-area: weather;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0;
        font-size: 1.5rem;
        color: #666;
      }

      .temp {
        grid-area: temp;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0;
        font-size: 0.9rem;
        color: #666;
      }

      .wind {
        grid-area: wind;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0;
        font-size: 0.9rem;
        color: #666;
      }

      .rain {
        grid-area: rain;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0;
        font-size: 0.9rem;
        color: #666;
      }
    }
  }
}
